Package: sh.tat.noradiotab
Name: NoRadioTab
Depends: mobilesubstrate
Version: 0.2.0
Architecture: iphoneos-arm
Description: Removes Radio tab from Music app on iPad. Also makes Songs the default tab.
Maintainer: Tatsh
Author: Tatsh
Section: Tweaks
